<configuration>
   <system.runtime.remoting>
     <application>
        <!-- Note a ausencia de Channel e port -->
        <!-- Como o objecto esta hosted no IIS, o canal: http e porto 80 -->
        <service>      <!-- Namespace.Type, Assembly  -->                 
           <wellknown type="ClassCalc.Calc, ClassCalc"
                      mode="Singleton"
                      objectUri="RemoteCalc.soap" />
        </service>
     </application>
   </system.runtime.remoting>
</configuration>