<?xml version="1.0"?>
<configuration>
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="tcp" port="0"/>
      </channels>
      <client>

        <wellknown type="Interface.IRemObject, Interface"
                 url="tcp://localhost:9002/RemObject.rem" />
      
      </client>

    </application>
  </system.runtime.remoting>


</configuration>
