*.[Cc]ache
*.csproj.user
*.[Rr]e[Ss]harper*
*.sln.cache
*.suo
*.user
*.orig
*.pidb
*.userprefs
*.svclog
*gpState
.DS_Store
deploy/
build/
[Bb]in/
[Dd]ebug/
[Oo]bj/
[Rr]elease/
_[Rr]e[Ss]harper.*/

/tools/Ninject-3.0.0.15-release-net-4.0/src
/tools/ninject-ninject-3c015bc