<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="http" port="1238">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
          <clientProviders>
            <formatter ref="binary" />
          </clientProviders>
        </channel>
      </channels>
      <client>
        <wellknown type="CommonInterface.ISuperPeer, CommonInterface"
                   url="http://localhost:1237/SuperPeer.soap"/>
      </client>
    </application>
  </system.runtime.remoting>
</configuration>