<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="http" port="1234"/>
      </channels>
      <service>
        <wellknown type="SuperPeerImpl.SuperPeer, SuperPeerImpl"
                   mode="Singleton"
                   objectUri="SuperPeer.soap"/>
      </service>
    </application>
  </system.runtime.remoting>
</configuration>