<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="HostDuplexService.DuplexBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="HostDuplexService.DuplexBehavior"
                name="HostDuplexService.DuplexService">
                <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="DuplexBinding"
                    contract="HostDuplexService.IDuplexService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/HostDuplexService/DuplexService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
      <bindings>
        <wsDualHttpBinding>
           <binding name="DuplexBinding">
              <security mode="None" />
           </binding>
        </wsDualHttpBinding>
      </bindings>
    </system.serviceModel>
</configuration>
