<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_ICentralService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00" />
                    <security mode="None">
                        <message clientCredentialType="Windows" negotiateServiceCredential="true" />
                    </security>
                </binding>
                <binding name="CServiceBinding">
                  <security mode="None" />
                </binding>
            </wsDualHttpBinding>
        </bindings>
        <behaviors>
          <serviceBehaviors>
            <behavior name="CServiceBehavior">
              <serviceMetadata httpGetEnabled="true" />
            </behavior>
          </serviceBehaviors>
        </behaviors>
        <services>
          <service behaviorConfiguration="CServiceBehavior" name="Client.CService">
            <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="CServiceBinding"
                contract="Contracts.ICService">
              <identity>
                <dns value="localhost" />
              </identity>
            </endpoint>
            <host>
              <baseAddresses>
                <add baseAddress="http://localhost:8000/CService/" />
              </baseAddresses>
            </host>
          </service>
        </services>
        <client>
            <endpoint address="http://localhost:8080/CentralService/" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_ICentralService" contract="ServiceReference1.ICentralService"
                name="WSDualHttpBinding_ICentralService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>