<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="http" port="0"/>
      </channels>
      <client>
        <wellknown type="CommonInterface.ISuperPeer, CommonInterface" url="http://localhost:1234/SuperPeer.soap"/>
      </client>
    </application>
  </system.runtime.remoting>
</configuration>