<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="CentralServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="CentralServiceBehavior" name="MessageServer.CentralService">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="CentralServiceBinding"
            contract="Contracts.ICentralService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/CentralService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <wsDualHttpBinding>
        <binding name="CentralServiceBinding">
          <security mode="None" />
        </binding>
      </wsDualHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>