<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultEndPoint.HelloServiceBehavior">
          <serviceMetadata httpGetEnabled="true"  />

        </behavior>
      </serviceBehaviors>
    </behaviors>
  <services>
    <service name="DefaultEndPoint.HelloService" behaviorConfiguration="DefaultEndPoint.HelloServiceBehavior" >
      <host>
        <baseAddresses>
          <add baseAddress="http://localhost:8732/HelloService/" />
        </baseAddresses>
      </host>
      
    </service>
    
  </services>
    </system.serviceModel>
  
</configuration>