<configuration>
   <system.runtime.remoting>
     <application>
       
       <!-- <lifetime leaseTime="10S" renewOnCallTime="2S" leaseManagerPollTime="1S"/> -->
       <channels>
           <channel ref="http" port="1234"/>
        </channels>
        <service>      <!-- Namespace.Type, Assembly  -->                 
           <wellknown type="ClassCalc.Calc, ClassCalc"
                      mode="Singleton"
                      objectUri="RemoteCalc.soap"/>
        </service>
     </application>
   </system.runtime.remoting>
</configuration>
