<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="CServiceBinding">
                  <security mode="None" />
                </binding>
            </wsDualHttpBinding>
        </bindings>
        <behaviors>
          <serviceBehaviors>
            <behavior name="CServiceBehavior">
              <serviceMetadata httpGetEnabled="true" />
            </behavior>
          </serviceBehaviors>
        </behaviors>
        <services>
          <service behaviorConfiguration="CServiceBehavior" name="ClientDummy.CService">
            <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="CServiceBinding"
                contract="Contracts.ICService">
              <identity>
                <dns value="localhost" />
              </identity>
            </endpoint>
            <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            <host>
              <baseAddresses>
                <add baseAddress="http://localhost:8000/CService/" />
              </baseAddresses>
            </host>
          </service>
        </services>
    </system.serviceModel>
</configuration>