<?xml version="1.0"?>
<configuration>
  <system.runtime.remoting>
    <application name="MyServer">
      
      <channels>
        <channel ref="tcp" port="9002"/>
      </channels>
      <service>
        <wellknown type="Server.MyRemoteObject, Server" objectUri="RemObject.rem" mode="SingleCall"/>
      </service>
      
    </application>
  </system.runtime.remoting>
</configuration>
