<configuration>
   <system.runtime.remoting>
     <application>
  
        <channels>
           <channel ref="http" port="0"/>
        </channels> 

        <client>
            <!-- Partilhar a Classe -->
          <wellknown type="ClassCalc.Calc, ClassCalc"
                      url="http://localhost:1234/RemoteCalc.soap" /> 
          <!-- Partilhar a Interface -->
         <!-- <wellknown type="IRemCalc.ICalc, IRemCalc" url="http://localhost:1234/RemoteCalc.soap"/> -->


        </client>
     </application>
   </system.runtime.remoting>
</configuration>
