<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClienteWithProxy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClienteWithProxy.Properties.Settings>
            <setting name="ClienteWithProxy_Aula_ServiceOla" serializeAs="String">
                <value>http://localhost:8080/ServiceOla</value>
            </setting>
        </ClienteWithProxy.Properties.Settings>
    </applicationSettings>
</configuration>